doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Document
    link(rel='stylesheet', href='./css/style.css')
    link(rel='stylesheet', href='./css/login.css')
    script(src='/socket.io/socket.io.js')
    script(src='./js/login.js')
  body
    .header
      h1 Caro
    form.login-screen(action='/', method='post')
      h3 Tên của bạn:
      br
      input#username(type='text', value='', name='username')
      i.error-message
      br
      button.login-button(type='submit')
        | Đăng nhập
